# =========================
# Test Reports & Outputs
# =========================
output/
allure-results/
*.csv

# =========================
# IDEs and Editors
# =========================
# PyCharm / IntelliJ
.idea/
*.iml

# VS Code (just in case)
.vscode/

# =========================
# Virtual Environments
# =========================
# uv and standard pip virtual environments
.venv/
venv/
env/

# =========================
# Python & Pytest Caches
# =========================
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Test Reports & Outputs
# Ignore downloaded browsers from Playwright (if downloaded locally)
test-results/
